body {
	height: 100%;
	margin:0;
   }
html { 
	position:relative; 
	min-height:100%;
   }
.mainbody{
	text-align: center;
	padding-bottom: 200px;
	margin-top:20px;
}
.content {
	display: inline-block;
	background-color: rgb(250, 248, 248);
	-moz-border-radius:  5px; /* Firefox */
	-webkit-border-radius:  5px; /* Safari 4 */
	border-radius:  15px; /* IE 9, Safari 5, Chrome */
	padding: 20px;

}
.map{
	float: right;
	margin-left:15px;
	border:1px solid rgb(134, 134, 134);
	-moz-border-radius:  5px; /* Firefox */
	-webkit-border-radius:  5px; /* Safari 4 */
	border-radius:  5px; /* IE 9, Safari 5, Chrome */
}
.form {
	text-align: left;
	display: inline-block;
}
textarea {
	outline: none;
	width: 1150px;
	height: 300px;
	resize: none;
	background-color: rgb(240, 240, 240);
}
.textarea {
	padding-top:40px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.button {
	margin-top:10px;
	margin-left:81px;
	width:90px;
	-moz-border-radius:  5px; /* Firefox */
	-webkit-border-radius:  5px; /* Safari 4 */
	border-radius:  5px; /* IE 9, Safari 5, Chrome */
}
.formblock {
	margin-top: -10px;
	border-bottom:1px solid rgb(134, 134, 134);
	padding-bottom: 20px;
}
.output {
	margin-top: -10px;
	padding-bottom: 20px;
}
input {
	outline:none;
	text-align: center;
	background-color: rgb(240, 240, 240);
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px; 
	border-radius:  5px; 
	padding:3px;
}

select {
	outline: none;
	background-color: rgb(240, 240, 240);
	-moz-border-radius:  5px; /* Firefox */
	-webkit-border-radius:  5px; /* Safari 4 */
	border-radius:  5px; /* IE 9, Safari 5, Chrome */
	padding:3px;
}
.formatCheckbox {
	border-left:1px solid rgb(134, 134, 134);
	padding-left:10px;
	margin-left:20px;
	display: inline-block;
}
input:active, input:focus {
	border:2px solid rgb(83, 83, 83);
}
select:active, select:focus {
	border:1px solid rgb(83, 83, 83);
}

.help {
	margin-left:100px;
	margin-top:10px;
}
.info {
	float: right;
}
header {
	background-color: aqua;
	min-height: 100px;
}
footer {
	background-color: aqua;
	height: 100px; ;
	position: absolute;
	bottom: 0;
	width: 100%;
}





