body {
	height: 100%;
	margin:0;
	width:100%;
	text-align: center;
	background-image: url('template/wdc_fon.jpg');
   }
html { 
	position:relative; 
	min-height:100%;
	text-align: center;
   }
.mainbody{
	display: inline-block;
	width:1200px;
	text-align: center;
	padding-bottom: 200px; /*ставить в 2 раза больше высоты футера */
	margin-top:20px;
/* 	position: relative; */
}
.content {
	display: inline-block;
	background-color: rgb(250, 248, 248);
	-moz-border-radius:  5px; /* Firefox */
	-webkit-border-radius:  5px; /* Safari 4 */
	border-radius:  15px; /* IE 9, Safari 5, Chrome */
	padding: 15px;
	width:1150px;
	margin-top:20px;
}
.map{
	float: right;
	margin-left:15px;
	border:1px solid rgb(134, 134, 134);
	-moz-border-radius:  5px; /* Firefox */
	-webkit-border-radius:  5px; /* Safari 4 */
	border-radius:  5px; /* IE 9, Safari 5, Chrome */
}
.form {
	text-align: left;
	display: inline-block;
}
textarea {
	outline: none;
	width: 1150px;
	height: 300px;
	resize: none;
	background-color: rgb(240, 240, 240);
}
.textarea {
	padding-top:40px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.button {
	margin-top:10px;
	margin-left:81px;
	width:90px;
	-moz-border-radius:  5px; /* Firefox */
	-webkit-border-radius:  5px; /* Safari 4 */
	border-radius:  5px; /* IE 9, Safari 5, Chrome */
}
.formblock {
	margin-top: -10px;
	border-bottom:1px solid rgb(134, 134, 134);
	padding-bottom: 20px;
}
.output {
	margin-top: -10px;
	padding-bottom: 20px;
}
input {
	outline:none;
	text-align: center;
	background-color: rgb(240, 240, 240);
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px; 
	border-radius:  5px; 
	padding:3px;
}

select {
	outline: none;
	background-color: rgb(240, 240, 240);
	-moz-border-radius:  5px; /* Firefox */
	-webkit-border-radius:  5px; /* Safari 4 */
	border-radius:  5px; /* IE 9, Safari 5, Chrome */
	padding:3px;
}
.formatCheckbox {
	border-left:1px solid rgb(134, 134, 134);
	padding-left:10px;
	margin-left:20px;
	display: inline-block;
}
input:active, input:focus {
	border:2px solid rgb(83, 83, 83);
}
select:active, select:focus {
	border:1px solid rgb(83, 83, 83);
}

.help {
	margin-left:100px;
	margin-top:10px;
}
.info {
	float: right;
}
header {
	background-color: rgb(169, 172, 172);
	min-height: 128px;
	width: 1200px;
	display: inline-block;
	margin-bottom: -20px;
}
.top-bottom-line {
	display: inline-block;
	text-align: center;
	width:100%;
	background-color: #7C51CC;
	height: 20px;
}
.gcras-link {
	text-decoration: none;
	color: #FFFFFF;
	font-style: italic;
}
.center-line {
	width:100%;
	background-color: #FCEEAC;
	height: 88px;
}
.logo1{
	display: inline-block;
	float: left;
	height:59.6px;
	padding:14.2px 0px 14.2px 71px;
}
.logo2 {
	display: inline-block;
	float: right;
	height:59.6px;
	padding:4.2px 71px 14.2px 0px;
}
.site-name {
	display: inline-block;
	width:837px;
	height:88px;
	text-align: left;
}
.site-name p {
	margin:0;
	color:#ff6633;
	font-family: arial;
	text-align: left;
}
.right-text {
	float: right;
	margin-right: 50px;
}
.left-text{
	float: left;
	font-size:1.8em;
	margin-left:100px;
}
.center-text p{
	font-size:1.8em;
	float: left;
	margin-left:350px;
}

footer {
	height: 100px;
	position: absolute;
	bottom: 0;
	width: 1200px;
	left:50%;
	margin-left:-600px;
}
footer li {
	font-size:12px; /* Не забываем восстановить нормальные значения */
	line-height:normal;
	letter-spacing:normal;
	display: -moz-inline-stack!important;
	display:inline-block;
	zoom:1;
	width:140px;
}
footer a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}
footer p{
	text-align: right;
	margin-right:300px;
	font-size: 12px;
}
.nav-bar {
	display: inline-block;
	margin-top:2px;
	width:1180px;
}
.nav-item {
	display: inline-block;
	width:295px;
}
.nav-item.border {
	width:294px;
}
li{
	font-size:14px; /* Не забываем восстановить нормальные значения */
	line-height:normal;
	letter-spacing:normal;
	display: -moz-inline-stack!important;
	display:inline-block;
	zoom:1;
}
ul {
	font-size:0; /* убираем горизонтальные отступы */
	line-height:0; /* ...и вертикальные в некоторых браузерах */
	letter-spacing:-1px; /* переубеждаем webkit'ы */
	padding:0;
	margin:0;
}
header a {
	text-decoration: none;
	color: #FFFFFF;
	font-style: italic;
}



